* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h3 {
  font-size: 40px;
}
.container {
  width: 800px;
  height: 800px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  gap: 15px;
  background-color: #000;
  border-radius: 10px;
}
.game {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.turn {
  border-bottom: 4px solid #000;
  padding-bottom: 5px;
  margin-bottom: 20px;
  width: 80%;
}
.square {
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 10px;
}
.letter {
  font-size: 200px;
  position: absolute;
}
